doctype html
html
	head
		title Clazs
		link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
		link(rel="stylesheet", href="style.css")
	body
		header(class="mdl-layout__header")
			div(class="mdl-layout__header-row")
				a(class="mdl-layout-title" href="./") Clazs
				div(class="mdl-layout-spacer")
						nav(class="mdl-navigation mdl-layout--large-screen-only")
							a(class="mdl-navigation__link" href="./login") Login
							a(class="mdl-navigation__link" href="./register") Sign Up
							//- a(class="mdl-navigation__link" href="./profile") Home
							//- a(class="mdl-navigation__link" href="posts/posts") Posts
							//- form(action='/logout', method='POST')
							//- 	a(class="mdl-navigation__link" type="submit") Logout
							//- form(action="/search", method="post", class="searchForm")
							//- 	input(class="mdl-textfield__input" placeholder="Search", name="search")
								//- input(type="submit", value="Search", placeholder="search", class="searchButton") 
		script(src="/jquery.js")
		script(src="/custom.js")
	block content