include header
.container
		h2.scroll-reveal Contact US
		.row
			.col-lg-5.col-md-6
				.contact-info.scroll-reveal
					p.subtitle Contact US
					p: a(href="mailto:sayhello@School.com") sayhello@School.com
					p: a(tel="003112345675") 003112345675
					ul.social.list-inline.list-unstyled
						li: a.fa.fa-facebook(href="index#")
						li: a.fa.fa-twitter(href="index#")
						li: a.fa.fa-instagram(href="index#")
				.contact-info.scroll-reveal
					p.subtitle Registration Helpdesk
					p Josè - +31 0454356565
					p Kaan - +31 0343434334
				.contact-info.scroll-reveal
					p.subtitle Location
					p Amsterdam, The Netherlands
					p Istanbul, Turkey
			.col-lg-7.col-md-6
				.scroll-reveal#map 
include footer