include header
.container
	h2.scroll-reveal Courses
	.row
		.col-md-6.col-sm-6.mbot30
			each course in courses
				.news-post
					a(href="course1"): img.img-responsive.scroll0-reveal(src="assets/images/news1.jpg")
					.content.scroll-reveal
						h3: a(href="course1") #{course.name}
						p.text Short Documentarry Film
						p.date € 5000,00
						br
						br
					.col-sm-6
						form(action="/enroll" method="post")
							input(name="courseId", value=course.id hidden)
							a.btn.btn-home.scroll-reveal.btn-reg(href='profile') Enroll
include footer