include header
.container
	h2.scroll-reveal Courses
	.row
		.col-md-6.col-sm-6.mbot30
			.news-post
				a(href="course1"): img.img-responsive.scroll0-reveal(src="assets/images/news1.jpg")
				.content.scroll-reveal
					h3: a(href="course1") Director's Cut
					p.text Short Documentarry Film
					p.date € 5000,00
					br
					br
				.col-sm-6
					a.btn.btn-home.scroll-reveal.btn-reg(href='profile') Enroll
		.col-md-6.col-sm-6.mbot30
			.news-post
				a(href="course2"): img.img-responsive.scroll0-reveal(src="assets/images/news2.jpg")
				.content.scroll-reveal
					h3: a(href="course2") High Voltage
					p.text Battel of Bands
					p.date € 7000,00
					br
					br
				.col-sm-6
					a.btn.btn-home.scroll-reveal.btn-reg(href='profile') Enroll
include footer