script(src="/assets/js/jquery-2.2.4.min.js")
script(src="/assets/vendor/animsition/animsition.min.js")
script(src="/assets/vendor/bootstrap/js/bootstrap.min.js")
script(src="/assets/vendor/scrollreveal/scrollreveal.min.js")
script(src="/assets/vendor/parallax/parallax.min.js")
script(src="/assets/vendor/jquery-smooth-scrolling/jquery.smoothscroll.min.js")
script(src="/assets/vendor/slick/slick.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js")
script(src="/assets/js/map.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")
script(src="/assets/js/scripts.js")