doctype html
html
head
title Clazs
link(rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet" href="/assets/vendor/animsition/animsition.min.css" media="all")
meta(charset="utf-8")
link(href='https://fonts.googleapis.com/css?family=Oswald%7CSource+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css')
link( href='/assets/vendor/fontawesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
link(href="/assets/vendor/slick/slick.css" rel="stylesheet")
link(href="/assets/vendor/slick/slick-theme.css" rel="stylesheet")
link(href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
link(href="/assets/css/style.css" rel="stylesheet")
body
	.animsition
	.topbar
		.container
			.row
				.col-sm-4
					a.current.current.logo(href="/"): img.scroll-reveal(src="/assets/images/logo.png")
				.col-sm-8
					a.next-event-top.scroll-reveal(href="/") Your Learning School!
nav.navbar-fixed-top#nav-1
	ul.sidebar-nav.nav
		li: a(href='/') Home
		li: a(href='courses') Courses
		li: a(href='login') Login
		li: a(href='register') Register
		li: a(href='contact') Contact


