include header
	div(class="signupMenu")
		h1(id="registerHead" class="myHeader") Login
		form(action="/login" method="post")
			input(class="mdl-textfield__input menuInput" placeholder="username", name="username")
			input(class="mdl-textfield__input menuInput" placeholder="password", name="password", type="password")
			input(type="submit", value="Login", class="menuButton")