include header
	h1 #{user.username}
	
		if user.orders.length > 0
			each order in user.orders
				p= order.product
		else
			p we dont have any orders
hr
	h2 Enrolled courses.
	hr
	each course in enrolledCourses
		h3= 'Title: ' + course.name
		h4= 'Subject: ' + course.subject 
		hr

