include header
.animsition
.topbar
	.container
		.row
			.col-sm-4
				a.current.current.logo(href="index"): img.scroll-reveal(scr="/assets/images/logo.png")
			.col-sm-8
				a.next-event-top.scroll-reveal(href="index#") Your Learning School!
section.event-single
	.container
		.event-intro
			img.img-responsive.event-image.scroll-reveal(src='/assets/images/registration.jpg')
			h1.scroll-reveal Individual Registration
			form(action='/register' method ='post')
				.col-sm-6 
					h2 Details
				form(action="/register" method="post")
					input.reg-input.scroll-reveal(type='text' placeholder='Name' name="username")
					input.reg-input.scroll-reveal(type='text' placeholder='Location')
					input.reg-input.scroll-reveal(type='text' placeholder='Course Enrolled in')
					input.reg-input.scroll-reveal(type='text' placeholder='Email' name="email")
					input.reg-input.scroll-reveal(type='text' placeholder='password' name="password")
					input.reg-input.scroll-reveal(type="submit" value="Submit")
include footer

